<ion-header>
    
    <ion-navbar>
        <ion-title>createRecip</ion-title>
      </ion-navbar>
    
</ion-header>
    <ion-content>
      <div class="section">
        
      <ion-grid>
            <ion-row>
                <ion-col col-12>
            <h4>Selectioner l'image de la recette</h4>
                </ion-col>
              <ion-col col-6>
        <button class="picbtn" *ngIf="!captureDataUrl" (click)="capture()"><ion-icon ios="ios-camera" md="md-camera"></ion-icon></button>
              </ion-col>
              <ion-col col-6>
        <button class="picbtn" *ngIf="!captureDataUrl" (click)="getFromGalery()"> <ion-icon ios="ios-images" md="md-images"></ion-icon></button>
              </ion-col>
            </ion-row>
        </ion-grid>
        <img [src]="captureDataUrl" *ngIf="captureDataUrl" style="width:80% ; height:40vh; margin-left:10%"/>
        <button class="deletebtn" (click)="deleteImg()" *ngIf="captureDataUrl" ><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button>
      </div>
      <div class="section">
          <ion-list>
              <ion-grid>
                  <ion-row>
                      <ion-col col-12>
                  <h4>Details de la recette</h4>
                      </ion-col>
                  </ion-row>
              </ion-grid>
              <ion-item>
                  <ion-label floating>Title</ion-label>
                  <ion-input [(ngModel)]="title" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Discription</ion-label>
                    <ion-textarea [(ngModel)]="discription" name="description"></ion-textarea>
                  </ion-item>
          </ion-list>
      </div> 
      <div class="section">
        <ion-list>
          <ion-item  *ngFor="let ingredient of ingredients">
            {{ingredient.poids}} de {{ingredient.name}}
          </ion-item>
        </ion-list>
          <ion-grid>
              <ion-row>
                  <ion-col col-12>
              <h4>ingerdient de la recette</h4>
                  </ion-col>
              <ion-col col-3>
              <ion-item>
                 
                  <ion-input [(ngModel)]="ingredientName" placeholder="Name"type="text"></ion-input>
                  
              </ion-item>
              
            </ion-col>   
                <ion-col col-2>
                      <ion-item>
                      <ion-input [(ngModel)]="ingredientPoidsNbr" type="number"></ion-input>
                    </ion-item>
                      </ion-col>
                      <ion-col col-3>
                          <ion-item>
                          <ion-select  [(ngModel)]="ingredientPoidsType" >
                              <ion-option value="kg">KG</ion-option>
                              <ion-option value="mg">MG</ion-option>
                              <ion-option value="l">L</ion-option>
                              <ion-option value="ml">ML</ion-option>
                          </ion-select>
                        </ion-item>
                </ion-col>
                <ion-col col-4>
                      <button ion-button full (click)="addIngredient()"> <ion-icon ios="ios-add" md="md-add"> </ion-icon> Add</button> 
                </ion-col>
             
        </ion-row>
      </ion-grid>
      </div> 
      <button ion-button full (click)="addRecette()"> Envoyer la Recette</button> 
    </ion-content>
